body {
  height: 100vh;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

main {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#searchForm {
  display: flex;
  align-items: center;
}

#logo {
  aspect-ratio: 1/1;
  width: 50px;
}

header {
  display: flex;
  background-color: grey;
  border-radius: 10px;
  justify-content: space-around;
  padding: 10px 0px 10px 0px;
}

#headerImg {
  width: 150px;
  border-radius: 20px;
}

button {
  border: 0px;
}

#navLinks {
  width: 80vw;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  padding: 0px;
}
#navLinks a {
  color: white;
  text-decoration: none;
}

footer {
  background-color: teal;
}

#topBrands {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card {
  height: 25vw;
  aspect-ratio: 1.2/1;
  border: 1px solid black;
  border-radius: 10px;
}
