body {
  font-family: "Roboto";
  width: 100%;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 7vh;
}

main {
  margin-top: 7vh;
}

#searchForm {
  display: flex;
  align-items: center;
}

#logo {
  aspect-ratio: 1/1;
  width: 50px;
}

header {
  display: flex;
  background-color: grey;
  border-radius: 10px;
  justify-content: space-around;
  padding: 10px 0px 10px 0px;
}

#headerImg {
  width: 150px;
  border-radius: 20px;
}

button {
  border: 0px;
}

#navLinks {
  width: 80vw;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  padding: 0px;
}
#navLinks a {
  color: white;
  text-decoration: none;
}

footer {
  background-color: black;
}

#topBrands {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card {
  height: 25vw;
  aspect-ratio: 1.2/1;
  border: 1px solid black;
  border-radius: 10px;
}

.hero {
  border: 1px solid black;
  width: 100%;
  aspect-ratio: 16/9;
}
.herotextcard {
  margin-top: 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 100%), rgba(0, 0, 0, 0%));
  padding-top: 20px;
}
.heroheader {
  color: white;
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 0px;
  padding-top: 10px;
}
.herolink {
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
}
.herolink:hover {
  text-decoration: underline;
}
.herolink::after {
  content: ">";
  color: white;
}
.herosubheader {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 5px;
  margin-top: 5px;
}
#hero1 {
  background-image: url(./styles/pexels-nickoloui-2473183.jpg);
  background-position: center;
  background-size: contain;
}
#hero2 {
  background-image: url(./styles/pexels-marcellino-andrian-209361-671629.jpg);
  background-position: center;
  background-size: contain;
}
#hero3 {
  background-image: url(./styles/pexels-xexusdesigner-777001.jpg);
  background-position: center;
  background-size: contain;
}

.gridsection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5vw;
  background-color: black;
}

.gridcard {
  width: 49.5vw;
  aspect-ratio: 1 / 1;
}
#gridcard1 {
  background-image: url(./styles/pexels-mayday-1365795.jpg);
  background-size: contain;
}
#gridcard2 {
  background-image: url(./styles/pexels-august-de-richelieu-4260485.jpg);
  background-size: contain;
}
#gridcard3 {
  background-image: url(./styles/pexels-tima-miroshnichenko-6499178.jpg);
  background-size: contain;
}
#gridcard4 {
  background-image: url(./styles/pexels-mediocrememories-2225618.jpg);
  background-size: contain;
}
